In [1]:
from google.cloud import bigquery
client = bigquery.Client()

In [2]:
sql = """
SELECT
    plurality,
    COUNT(1) AS count,
    year
FROM
    `bigquery-public-data.samples.natality`
WHERE
    NOT IS_NAN(plurality) AND plurality > 1
GROUP BY
    plurality, year
ORDER BY
    count DESC
"""
df = client.query(sql).to_dataframe()
df.head()

   plurality   count  year
0          2  139209  2007
1          2  138866  2008
2          2  137239  2006
3          2  133285  2005
4          2  132344  2004